:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a7c1c3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1280px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

main {
  max-height: 85vh;
  overflow-y: scroll;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.blockScroll {
  overflow: hidden;
}

.section {
  padding: 20px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #b1cbcd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dbecf6;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8fa9b8;
}
